@import "../../css-config/mixins.scss";

.header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  color: whitesmoke;
  backdrop-filter: blur(3.5px);
  .header-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    @include md {
      font-size: 20px;
      padding: 20px 30px;
    }
    .nav-links {
      display: flex;
      align-items: center;
      gap: 10px;
      @include md {
        gap: 20px;
      }
      svg {
        font-size: 20px;
        @include md {
          font-size: 25px;
        }
      }
    }
  }
}
